body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:dodgerblue;
}
.btn-primary{
    border-radius: 5px;
    background-color: dodgerblue;
    font-size: 20px;
    font-weight: 700;
    border: 2px;
    color: azure;
    padding : 15px 36px;

}
/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 0px 200px;
}
.nav-title{
    color: var(--Dark-01, #181818);


font-size: 2.8125rem;

font-weight: 800;

}
nav > ul {
    display:flex ;
    align-items: center;
}
nav li{
    list-style: none ;
    margin-right: 50px ;
}
nav a {
    text-decoration: none ;
    color: black;
   
}
.header{
    background-color: white;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .pp{
    width: 500px;
height: 650px;
}